* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

.media-and-text {
    display:flex;
    align-items: center;
    gap: 36px;
}

.meadia-and-text .left-side {
flex: 1;
}

.meadia-and-text .right-side{
flex: 1;
}