/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    background-color: aqua;
    display: inline-block;
    width: 150px;
    height: 150px;
    font-family: cursive;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
}

img {
    width: 100%;
}