* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {max-width: 1200px;
margin:48px auto;
display:flex;
}

#featured-image-column {
    flex:1;

}

#thumbnail-column {
    width:125px
    

}

#product-info-column {
   width: 455px;
min-height:100vh;
}
img{
    width:100%
}

#thumbnail-column img {
    width:100%;
}



.button {
    text-decoration:none;
    color:blue;
    display: block;
    text-align:center;
    border:1px solid;
    margin:10px;
    padding:10px;
}

.primary{
    background-color: rgb(5, 5, 240);
     color: white;
    padding: 12px;
    border-radius: 20px;
    font-weight: bold;
}

.secondary{
    background-color: rgb(247, 247, 247);
    color: blue;
    padding: 16px;
    border-radius: 48px;
    font-weight: none;
}