* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 24px;
    flex-wrap: wrap;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding:20px;
    justify-content: space-between;
}

#hero {
    background-image: url(../images/urban-hi-res-2nse.jpg);
    height: 100vh;
    background-size: cover
    background-position: center center;
}

#hero a {
    text-decoration: none;
    display: inline-block;
    background-color: yellow;
    padding: 14px;
    border-radius: 34px;
    font-weight: bold;
}

h1 {
    color:white;
}

#gallery-layout {
    display:grid;
    margin: 64px;
    grid-template-columns: 1fr 1fr;
    gap:24px;
}
#gallery-layout img {
    width:100%
}

